In this project we will join four different stocks Adj Close prices.

In [2]:
import pandas as pd
import datetime as datetime
import matplotlib.pyplot as plt

Creating daterange

In [16]:
start_date = datetime.datetime(2022,1,1)
end_date = datetime.datetime(2022,4,4)
dates = pd.date_range(start_date, end_date)
dates_data = pd.DataFrame(index = dates)

In [17]:
tickers = ['AAPL', "MSFT", "GOOGL", "TSLA"]
data = pd.DataFrame()
for i in tickers:
    df = pd.read_csv(i , parse_dates = True , index_col = 'Date')
    data[i] = df["Adj Close"]

In [18]:
data.head()

                  AAPL        MSFT        GOOGL        TSLA
Date
2021-04-05  125.156128  247.057617  2218.959961  691.049988
2021-04-06  125.464302  245.857376  2209.260010  691.619995
2021-04-07  127.144318  247.880905  2239.030029  670.969971
2021-04-08  129.589798  251.203827  2250.429932  683.799988
2021-04-09  132.214188  253.782837  2270.669922  677.020020

In [20]:
final_data = dates_data.join(data)

In [21]:
final_data.head()

                  AAPL        MSFT        GOOGL         TSLA
2022-01-01         NaN         NaN          NaN          NaN
2022-01-02         NaN         NaN          NaN          NaN
2022-01-03  181.778397  334.059265  2899.830078  1199.780029
2022-01-04  179.471344  328.331116  2887.989990  1149.589966
2022-01-05  174.697418  315.727173  2755.500000  1088.119995

In [22]:
final_data.dropna(inplace = True)

In [23]:
final_data.isna().sum()

AAPL     0
MSFT     0
GOOGL    0
TSLA     0
dtype: int64